body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Your existing CSS styles go here */

header {
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the header */
    align-items: center;
    border-bottom: 1px solid white;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto; /* margin-left and right centers the search-bar */
}

.search-box {
    transition: 0.3s;
    width: 220px;
    height: 3em;
    border-radius: 30px 0px 0px 30px;
    border: none;
    padding: 0 10px 0 10px;
}

.search-box:focus {
    background-color: white;
    outline: none;
    width: 260px;
}

.search-box:hover {
    cursor: text;
}

.search-button {
    margin-left: 0px;
    transition: 0.3s;
    height: 3em; /* Set the same height as the search-box */
    border: none;
    border-radius: 0px 30px 30px 0px;
    background-color: white;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    padding: 0 10px 0 10px;
}
.search-button img {
    width: 20px;
    height: 20px; /* Adjust the height of the image to match the button */
    margin: 0 auto; /* Center the image horizontally within the button */
}

.search-button:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}

.profile-icon {
    transition: 0.3s;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}

.profile-icon:hover {
    transition: 0.3s;
    border-radius: 35%;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    display: none;
}

.options {
    cursor: pointer;
    height: 40px;
    width: 55px;
    color: black;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0;
    z-index: 999;
    left: 93%;
}

.options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the list takes full height of its container */
}

footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    bottom: 0; /* Position at the bottom of the flex container (body) */
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: auto;
}

.text-container {
    font-size: 30px;
    color: white;
    text-align: center;
}

.menu-container-index {
    margin: -25px 30px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    flex-direction: column;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the alpha value (fourth parameter) for transparency */
    border-radius: 20px;
}


.menu-buttons-index {
    transition: 0.3s;
    min-width: 20px; /* Adjust width to fit content */
    height: 60px;
    width: 95%;
    border: 1px solid black;
    background-color: white;
    font-size: 28px;
    font-weight: 700;
    margin: 10px; /* Adjust margins for spacing */
    border-radius: 10px;
    box-sizing: border-box; /* Include border and padding in the element's total width and height */
}

.menu-buttons-index:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    border-color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-buttons-index {
        flex-basis: calc(100% - 10px); /* Set the basis for 1 button per line with margins */
    }
}

a {
    color: blue;
}
a:visited {
    color: darkblue;
}

.uvod {
    /* Add your styles here */
    padding: 1em;
    background-color: #f8f9fa;
    color: #212529;
    text-align: center;
    margin-top: 16%;
    margin-right: 2%;
    border-radius: 5px;

    /* New styles for positioning and width */
    position: absolute;
    right: 0;
    width: 30%; /* Adjust as needed */
    height: 40%;
    overflow-y: auto;
    font-size: 35px;
}
