body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.1em;
}

main {
    display: flex;
}

.message-container {
    margin: 20px;
    width: 35%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    flex: 1;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    transition: 0.3s;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    text-align: center;
    transition: 0.3s;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 18px;
}
.submit-button:hover {
    border-radius: 10px;
    transition: 0.3s;
    width: 180px;
    background-color: #444;
}

textarea:focus, input:focus {
    transition: 0.3s;
    border: 2px solid black;
    outline: none;   
}

.header-title {
    font-size: 25px;

}

.menu-buttons {
    transition: 0.3s;
    width: 9%;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
}

.menu-buttons:hover {
    transition: 0.3s;
    background-color: black;
    color: white;
    margin: 0px 20px 0px 20px;
    cursor: pointer;
}

.menu-container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.under-menu {
    margin: 0px;
    height: 5px;
    background-color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.on-page {
    transition: 0.3s;
    width: 9%;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
}
footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    position: relative;
    bottom: 0; /* Position at the bottom of the flex container (body) */
    width: 100%;
    background-color: #000;
    margin-top: auto;
}
